<mat-grid-list [cols]="breakpoint" rowHeight="2:1" (window:resize)="onResize($event)">
    <mat-grid-tile>
        <mat-card id="card-sobre">
            <mat-card-content class="banner-sobre">
                    <p class="paragrafo-sobre">
                        O <span class="pink">UNI</span>ban<span class="pink">X</span> criou uma super plataforma com serviços que facilitam tudo para você.
                    </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card" id="card-catao">
            <mat-card-content class="banner-cartao">
                <p class="paragrafo-cartao">
                    Com o cartão <span class="pink">UNI</span> você tem acesso a vários beneficios que irão facilitar seus dias.
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card" id="beneficio-food">
            <mat-card-content class="banner-beneficiofood">
                <p class="paragrafo-beneficiofood"> 
                Seu cartão para te acompanhar naqueles lanches rápidos.
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card" id="beneficio-bus">
            <mat-card-content class="banner-beneficiobus">
                <p class="paragrafo-beneficiobus"> 
                Seu cartão pode ser utilizado nos meios de transportes como ônibus, metrô e trem
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card" id="beneficio-discount">
            <mat-card-content class="banner-beneficiodiscount">
                <p class="paragrafo-beneficiodiscount"> 
                Seu cartão tem descontos em cinema, shows, academia e muito mais...
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card" id="beneficio-instalment">
            <mat-card-content class="banner-beneficioinstalment">
                <p class="paragrafo-beneficioinstalment"> 
                    Estude e pague após o término da faculdade com financiamento <span class="pink">UNI</span>ban<span class="pink">X</span>.
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>