<mat-toolbar class="footer">
    
    <mat-list>
        <mat-list-item class="lista-icones">
            <span>SIGA O UNI</span>
            <a>
                <img class="icons" src="assets/img/facebook.png">
            </a>
            <a>
                <img class="icons" src="assets/img/instagram.png">
            </a>
            <a>
                <img class="icons" src="assets/img/twitter.png">
            </a>
            <a>
                <img class="icons" src="assets/img/youtube.png">
            </a>
            <a>
                <img class="icons" src="assets/img/linkedin.png">
            </a>
        </mat-list-item>
    </mat-list>
    <div>
    </div>

    <mat-list>
        <mat-list-item>
            <span>BAIXE O APP E ABRA SUA CONTA</span>
            <div>
                <a>
                    <img class="icons-lojas" src="assets/img/icon-applestore.png">
                </a>
                <a>
                    <img class="icons-lojas" src="assets/img/icon-google-play.png">
                </a>
            </div>
        </mat-list-item>
    </mat-list>

</mat-toolbar>